#container {
    width: 100%;
    max-height: 90px;
    min-height: 60px;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    justify-content: center;
    
    background-color: #2B2B2B;
    box-shadow: 0 0 2px 2px #00000042;

}

h1, h3 {
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #6BB003;
    font-family: "Rubik", sans-serif;
}

h3 {
    font-size: 1em;
    font-weight: 400;
    color: #5F5F5F;
}



@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.9em;
    }

    h3 {
        font-size: .95em;
    }
}

@media screen and (max-width: 534px) {
    h1 {
        font-size: 1.7em;
    }

    h3 {
        font-size: .9em;
    }
}