#card-container {
    width: 80vw;
    max-width: 524px;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    margin-bottom: 16px;
    padding: 14px;
    border: 2px solid #373737;
    border-radius: 2px;
    background-color: #313131;
}

#close-button {
    display: flex;
    justify-content: flex-end;
}

#card-contain {
    display: flex;
    gap: 0 26px;
    margin-bottom: 16px;
    padding: 0 10px;
}

#img-card {
    width: 30%;
    min-width: 80px;
    max-width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 34px;
}

#img-card img {
    height: inherit;
}

#contain {
    width: 85%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

#ref-name {
    font-size: 11px;
    font-weight: 600;
    color: #5F5F5F;
}

#name {
    font-size: 12px;
    color: #ffffff6e;
}

#msg-contain {
    font: 400 15px 'Segoe UI', sans-serif;
    color: #ffffff6e;
    padding-right: 17px;
}


@media screen and (max-width: 655px) {
    #card-container {
        gap: 4px;
    }

    #card-contain {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 26px;
    }

    #msg-contain {
        text-align: justify;
        padding: 0
    }
}